a {
  color: #E1E3E4;
  cursor: pointer;
}
.contact {
    background-color: rgb(20, 54, 43);
}
.contact-wrapper {
  max-width: 900px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 25px
}
.fio {
  font-size: 20px;
}
.link-social {
  display: flex;
  gap: 18px;
}
.link-social>a {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 30px;
  height: 30px;
}
.vk {
background-image:url('https://upload.wikimedia.org/wikipedia/commons/thumb/f/f3/VK_Compact_Logo_%282021-present%29.svg/500px-VK_Compact_Logo_%282021-present%29.svg.png');
}

.telega {
background-image:url("https://static.vecteezy.com/system/resources/previews/023/741/064/large_2x/telegram-logo-icon-social-media-icon-free-png.png");
}
.pint {
background-image:url("https://i.pinimg.com/originals/66/a7/b3/66a7b3ecc4273e7c40fe2bc6ac98c5d1.png");
}

.footer {
  background-color: #18121E;
}
.footer-wrapper {
  max-width: 900px;
  margin: 0 auto;
  padding: 30px 0;
  display: flex;
  justify-content: space-between;
}
