img {
    height: 72px;
}

* {
    list-style: none;
    text-decoration: none;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    background-image: url("https://avatars.mds.yandex.net/i?id=8722028310e78175b8eaf0e6de1016bd_l-7178390-images-thumbs&n=13");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 10px;
}

.header_wrapper {
    max-width: 1180px;
    margin: 0 auto;
    min-height: 700px;
}

.header-top {
    margin-bottom: 280px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav {
    display: flex;
    gap: 49px;
    align-items: center;
    margin-bottom: 60px;
}

.header-ul {
    display: flex;
    gap: 24px;
    align-items: center;
}

.header-a {
    background-color:  rgb(90, 136, 86);
    color: #ffffff;
    border: none;
    padding: 12px 24px;
    border-radius: 4px;
    transition: background-color 0.5s;
    font-family: Nunito Sans;
    font-weight: 700;
    font-style: Bold;
}

.header-h2 {
    font-size: 50px;
    line-height: 150%;
    letter-spacing: 2%;
    margin-bottom: 41px;
    color: white;
    font-family: Nunito Sans;
    font-weight: 700;
    font-style: Bold;
    animation: h2-anim 5s linear 0s infinite;
}

.header-form {
    background-color: rgba(77, 77, 77, 0.137); /* задний фон */
    border-radius: 10px;
    padding: 40px 42px;
    backdrop-filter: blur(6px);
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}

.header-input-label {
    color: white;
    display: flex;
    flex-direction: column;
    width: 270px;
    font-family: Nunito Sans;
    font-weight: 700;
    font-style: Bold;
}

input {
    background: none;
    border: 1px white solid;
    padding: 14px 16px;
    border-radius: 8px;
    box-shadow: 2px 4px 6px #0419198a;
    color: white;
}

input::placeholder {
    color: white;
    font-family: Nunito Sans;
    font-weight: 700;
    font-style: Bold;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0px;
}

.header-button {
    background-color: rgb(235, 235, 235);
    color: black;
    padding: 16px 36px;
    border: none;
    border-radius: 8px;
    font-family: Nunito Sans;
    font-weight: 700;
    font-style: Bold;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 1.2%;
    transition: background-color 0.5s;
}

.header-ul-item:hover {
    color: rgb(98, 175, 26);
    border-bottom: 2px rgb(60, 80, 41) solid;
    cursor: pointer;
}

.header-ul-item {
    transition: all 0.2s;
    font-family: Nunito Sans;
    font-weight: 700;
    font-style: Bold;
}

.header-a:hover {
    color: rgb(60, 80, 41);
    background-color: white;
}

.header-button:hover {
    color: white;
    background-color: rgb(96, 131, 64);
    box-shadow: 2px 2px 6px #0719048a;
}

input:hover {
    background-color: #ffffff13;
}

input:focus {
    background-color: #ffffff36;
    outline: none;
}


@keyframes h2-anim {
    0%, 100% {
        text-shadow: 2px 2px 6px rgb(123, 255, 0);
    }
    25% {
        text-shadow: 2px 2px 6px rgb(0, 255, 64);
    }
    50% {
        text-shadow: 2px 2px 6px rgb(0, 255, 149);
    }
    75% {
        text-shadow: 2px 2px 6px rgb(0, 255, 255);
    }
}

.tour {
    min-height: 898px;
    background-color: rgb(224, 224, 224);
    text-align: center;
    font-family: Nunito Sans;
    font-weight: 700;
    font-style: Bold;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 1.2%;
}

.photo-item {
    height: 400px;
    width: 280px;
    box-shadow: 2px 2px 6px #000000aa;
    border-radius: 32px;
}

.photo {
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.tour_wrapper {
    width: 1180px;
    margin: 0 auto;
}

.lake {
    background-image:url('images/item1-altuhov.webp');
}

.mountine {
    background-image:url('images/item2-altuhov.png');
}

.sunshine {
    background-image:url('images/item3-altuhov.webp');
}

.photo-item {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}

.tour-h5 {
    font-weight: 400;
    font-style: Regular;
    font-size: 24px;
    line-height: 20px;
    color: #000000;
    padding-top: 82px;
}

.tour-h3 {
    font-weight: 800;
    font-style: ExtraBold;
    font-size: 32px;
    line-height: 120%;
    color: #18121E;
}

.blind {
    backdrop-filter: blur(6px);
    background-color: #00000033;
    border-radius: 24px;
    height: 400px;
    margin-top: 320px;
    transition: margin-top 1s ease-in-out;
}

.blind:hover {
    margin-top: 0px;
}

.card-title {
    display: flex;
    justify-content: space-evenly;
    padding: 23px 0;
    align-items: center;
}

.card-h6 {
    font-size: 18px;
    color: white;
}

.price {
    color: white;
    background-color: #ffffff25;
    border-radius: 4px;
    padding: 8px 16px;
    box-shadow: 2px 2px 2px rgba(52, 51, 51, 0.541);
}

.card-p {
    color: white;
    padding: 0px 25px;
    font-size: 15px;
    text-align: left;
}

a {
    color: white;
}

.contact {
    background-color: rgb(51, 95, 53);
    padding: 70px 0;
}

.contact-wrapper {
    max-width: 900px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.fio {
    color: white;
    font-size: 24px;
    font-family: Nunito Sans;
    font-weight: 700;
    font-style: Bold;
}

.link-social {
    display: flex;
    gap: 18px;
}

.link-social>a {
    width: 30px;
    height: 30px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat
}

.vk {
    background-image:url('images/vk.png') ;
}

.telega {
    background-image:url('images/telega.png');
}

.pint {
    background-image:url('images/pint.png');
}

.footer {
    background-color: #292929;
    padding: 30px 0;
}

.footer-wrapper {
    max-width: 900px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.ip {
    color: white;
    font-family: Nunito Sans;
    font-weight: 700;
    font-style: Bold;
}

.policy {
    font-family: Nunito Sans;
    font-weight: 700;
    font-style: Bold;
}

.email {
    font-family: Nunito Sans;
    font-weight: 700;
    font-style: Bold;
}

.phone_number {
    font-family: Nunito Sans;
    font-weight: 700;
    font-style: Bold;
}