* {
margin: 0;
padding: 0;
list-style: none;
text-decoration: none;
box-sizing: border-box;
}

header {
background-image: url('https://i.pinimg.com/1200x/89/7a/a0/897aa0ee617e5d574d58c612c327cda9.jpg');
background-size: cover;
background-position: center;
background-repeat: no-repeat;
padding-top: 16px;
padding-bottom: 82px;
}

body {
font-family: "Nunito Sans";
font-style: Bold;
font-size: 16px;
width: 600;
line-height: 150%;
letter-spacing: 0px;
color: whitesmoke;
}

.header_wrapper {
width: 1180px;
margin: 0 auto;
}
.header-top {
display: flex;
justify-content: space-between;
margin-bottom: 250px; 
align-items: center;
}

.nav {
display: flex;
gap: 49px;
align-items: center;
}

.header-ul {
display: flex;
gap: 20px;
align-items: center;
}

.header-ul-item {
    font-size: 14px;
    font-weight: bold;
    color:#000000;
    text-shadow: 1px 1px 2px #ffffff63;
}

.header-a {
background-color: #feaeff;
color: #FDFDFD; 
border: 1px #f1ccf1 solid;
padding: 12px 24px;
border-radius: 4px;
transition: background-color 0.5s; 
}

.header-h2 {
font-size: 50px;
line-height: 150%;
letter-spacing: 2%;
margin-bottom: 41px;
animation: h2-anim 5s linear 0s infinite;
text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.562);
}

.header-form {
background-color: #FFFFFF33;
padding: 40px;
border-radius: 10px;
display: flex;
justify-content: space-between;
align-items: flex-start;
flex-wrap: wrap;
backdrop-filter: blur(6px); 

}

.header-input-label {
display: flex;
flex-direction: column;
width: 270px;
}

input {
background: none;
border: 1px white solid;
border-radius: 8px;
padding: 14px 16px;
color: white;
}

input::placeholder {
color: white;
font-family: Nunito Sans;
font-weight: 700;
font-style: Bold;
font-size: 16px;
line-height: 150%;
}

.header-button {
font-family: Nunito Sans;
font-weight: 700;
font-style: Bold;
font-size: 16px;
line-height: 20px;
letter-spacing: 1.2%;
border-radius: 4px;
border: none;
padding: 13px 36px;
transition: background-color 0.5s;
}

img{
height: 72px;
}

.tour{
min-height:898px ;
background-color:#f3d2f4;
text-align: center;
}

.tour_warpper{
width: 1180px ;
margin: 0 auto;
}

.photo-item{
width: 280px;
height: 400px;
box-shadow: 2px 2px 6px #18121e7d;
}

.photo{
display: flex;
gap:20px ;
justify-content:center ;
margin-top:50px ;
margin-bottom: 50px;
}

.lake{
background-image:url('https://avatars.mds.yandex.net/i?id=a53bbeee53f668b7a7fb074d47d99eff84c990c8-8257574-images-thumbs&n=13') ;
}

.mountine{
background-image:url('https://avatars.mds.yandex.net/i?id=0f99488f7f0f001b4f50bf28bbf3e3ba_l-7736363-images-thumbs&n=13') ;
}

.sunshine{
background-image:url('https://dreamisland.ru/upload/resize_cache/iblock/b29/860_860_1/nm5z3ib5kiqy2w0u7sey9cglnlaho2xv.jpg') ;
}

.lake, .mountine, .sunshine{
background-size:cover ;
background-position:center;
background-repeat:no-repeat ;
border-radius: 32px;
}

.tour-h5{
font-weight:400 ;
font-style:Regular ;
font-size:24px ;
line-height:20px ;
color:#ff909a;
padding-top: 82px;
}

.tour-h3{
font-weight: 800;
font-style: ExtraBold;
font-size: 32px;
line-height: 120%;
color: #18121E;
}

a{
color: #E1E3E4 ;
cursor: pointer;
}

.contact-wrapper{
max-width: 900px;
margin: 0 auto ;
display: flex;
flex-direction: column;
gap: 25px;
}

.contact{
background-color: #fa7dff;
padding: 70px 0;
}

.fio{
font-size: 20px;
}

.link-social{
display: flex;
gap: 18px;
}

.link-social>a{
background-size: cover;
background-position: center;
background-repeat: no-repeat;
width: 30px;
height: 30px;
}
.vk {
background-image:
url("https://upload.wikimedia.org/wikipedia/commons/thumb/f/f3/VK_Compact_Logo_%282021-present%29.svg/500px-VK_Compact_Logo_%282021-present%29.svg.png");
}
.telega

 

{
background-image:
url("https://static.vecteezy.com/system/resources/previews/023/741/064/large_2x/telegram-logo-icon-social-media-icon-free-png.png");
}
.pint {
background-image:
url("https://i.pinimg.com/originals/66/a7/b3/66a7b3ecc4273e7c40fe2bc6ac98c5d1.png");
}

.footer{
background-color:#18121E ;
}

.footer-wrapper{
max-width:900px;
margin: 0 auto;
padding: 30px 0;
display: flex;
justify-content: space-between;
}
