* {
margin: 0;
padding: 0;
list-style: none;
text-decoration: none;
box-sizing: border-box;
}

body {
font-family: Nunito Sans;
font-style: Bold;
font-size: 16px;
line-height: 150%;
letter-spacing: 0px;
color: #102303;
}

.header_wrapper {
max-width: 1180px; 
margin: 0 auto;
}

.header-top {
display: flex;
justify-content: space-between; 
margin-bottom: 463px; 
align-items: center;
}
.nav {
display: flex;
gap: 49px;
align-items: center;

}

.header-ul {
display: flex;
gap: 24px;
align-items: center;
}

.header-a {
background-color: #1A3E3E;
color: #FDFDFD;
border: 1px #1A3E3E solid; 
padding: 12px 24px;
border-radius: 4px
}

body {
font-family: Nunito Sans;
font-style: Bold;
font-size: 16px;
line-height: 150%;
letter-spacing: 0px;
color: #FDFDFD;
}

img {
height: 72px;
}

.header_wrapper {
width: 1180px;
margin: 0 auto;
}

.header-a {
background-color: #1A3E3E;
color: #FDFDFD; 
border: 1px #1A3E3E solid;
padding: 12px 24px;
border-radius: 4px;
transition: background-color 0.5s;
font-family: Nunito Sans;
font-weight: 600;
font-style: SemiBold;
font-size: 16px;
line-height: 20px;
letter-spacing: 1.2%;
}

.header-h2 {
font-size: 40px;
line-height: 150%;
letter-spacing: 2%;
margin-bottom: 41px;
animation: h2-anim 3s linear 0s infinite;
text-align: center;
}

.header-form {
background-color: #00000079;
padding: 40px;
border-radius: 10px;
display: flex;
justify-content: space-between;
align-items: flex-start;
flex-wrap: wrap;
backdrop-filter: blur(6px); 

}

.header-input-label {
display: flex;
flex-direction: column;
width: 270px;
}

input {
background: none;
border: 1px white solid;
border-radius: 8px;
padding: 14px 16px;
color: white;
}

input::placeholder {
color: white;
font-family: Nunito Sans;
font-weight: 700;
font-style: Bold;
font-size: 16px;
line-height: 150%;
}

.header-button {
font-family: Nunito Sans;
font-weight: 700;
font-style: Bold;
font-size: 16px;
line-height: 20px;
letter-spacing: 1.2%;
border-radius: 4px;
border: none;
padding: 13px 36px;
transition: background-color 0.5s;
}

.header-ul-item:hover {
color: #F2BE22;
border-bottom: 2px #F2BE22 solid;
cursor: pointer;
}

.header-ul-item {
transition: all 0.5s;
}

.header-a:hover {
color:#1A3E3E;
background-color: white;
}

.header-button:hover {
color:white;
background-color: black;
}

input:hover {
background-color: #ffffff25;
}

input:focus {
background-color: rgba(255, 255, 255, 0.346);
outline: none;
}

@keyframes h2-anim {
0%, 100% {
text-shadow: 2px 0px 20px rgb(0, 0, 0);
}
25% {
text-shadow: 2px -10px 20px rgb(0, 0, 0);

}
50% {
text-shadow: 2px 0px 20px rgb(0, 0, 0);
}
75% {
text-shadow: 2px 10px 20px rgb(0, 0, 0);
}
}

.tour {
min-height: 898px;
background-color: #b3bfc5;
text-align: center;
}

.photo-item {
width: 280px;
height: 400px;
box-shadow: 2px 2px 6px #000000a1;
border-radius: 32px;
background-repeat: no-repeat;
background-position: center;
background-size: cover;
overflow: hidden;
}

.photo {
display: flex;
gap: 20px;
justify-content: center;
margin-bottom: 50px;
margin-top: 50px;
}

.tour_wrapper {
width:

1180px;
margin: 0 auto;
}

.lake {
background-image: url("https://media.istockphoto.com/id/1191642092/ru/векторная/вратарь-футболист-стоял-с-руками-на-бедрах-изолированный-вектор-силуэт-чернила-рисунок.jpg?s=612x612&w=0&k=20&c=g3nnbAt9PHrlQk6Y_xHJ23IiWgzKQ5Q9gZxL0RnNIf4=");
}

.sunshine {
background-image: url('https://media.istockphoto.com/id/92026198/ru/фото/leaping-с-фрисби-пляж-силуэт.jpg?s=612x612&w=0&k=20&c=RVlmySUQyGNn9BShLxCmPA04sFGMzuPG4-F0d4geFno=');
}

.mountine {
background-image: url('https://avatars.mds.yandex.net/i?id=998d04e2c7f52a6cbb0c91e0fb7dc204_l-4499935-images-thumbs&n=13');
}

.tour-h5 {
font-style: Regular;
font-size: 24px;
line-height: 20px;
letter-spacing: 0%;
color: #F2BE22;
padding-top: 80px;

}

.tour-h3 {
font-weight: 800;
font-style: ExtraBold;
font-size: 32px;
line-height: 120%;
color: black;

}

.blind {
backdrop-filter: blur(7px);
background-color: #FFFFFF33;
height: 400px;
border-radius: 24PX;
padding-top: 20px;
margin-top: 350px;
transition: margin-top 1s ease;
}

.photo-item {
width: 280px;
height: 400px;
box-shadow: 2px 2px 6px #000000a1;
border-radius: 32px;
background-repeat: no-repeat;
background-position: center;
background-size: cover;
overflow: hidden;
}

.blind:hover {
margin-top: 0px;
}

.card-h6 {
font-size: 18px;
color:rgb(0, 0, 0)
}

.price {
padding: 8px 18px;
background-color: #FFFFFF4D;
border-radius: 4px;
color: black;
}

.card-title {
display: flex;
justify-content: space-evenly;
align-items: center;
padding-bottom: 20px;
}

.card-p {
font-size: 16px ;
padding: 0 20px;
text-align: left;
color: black;
}

a {
color: #E1E3E4;
cursor: pointer;
}

.contact-wrapper {
max-width: 900PX;
margin: 0 auto;
display: flex;
flex-direction: column;
gap: 25px;
}

.contact {
background-color: #1A3E3E;
padding: 70px 0;
}

.fio {
font-size: 20px;
}

.link-social {
display: flex;
gap: 18px;
}

.link-social>a {
background-size: cover;
background-position: center;
background-repeat: no-repeat;
width: 30px;
height: 30px;
}

.max {
background-image: url('https://static.vecteezy.com/system/resources/previews/069/991/653/large_2x/max-app-icon-on-a-transparent-background-free-png.png');
}
.vk {
background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/f/f3/VK_Compact_Logo_%282021-present%29.svg/500px-VK_Compact_Logo_%282021-present%29.svg.png');
}

.footer {
background-color: #18121E;
}

.footer-wrapper {
max-width: 900px; 
margin: 0 auto;
padding: 30px 0;
display: flex; 
justify-content: space-between;
}

header {
background-image: url("images/gggg.png");
background-size: cover;
background-position: center;
background-repeat: no-repeat;
padding-top: 16px;
padding-bottom: 82px;
}

body {
font-family: Nunito Sans;
font-style: Bold;
font-size: 16px;
line-height: 150%;
letter-spacing: 0px;
color: #102303;
}

header_wrapper {
max-width: 1180px; 
margin: 0 auto;
}

.header-top {
display: flex;
justify-content: space-between; 
margin-bottom: 463px; 
align-items: center;
}
.nav {
display: flex;
gap: 49px;
align-items: center;

}

.header-ul {
display: flex;
gap: 24px;
align-items: center;
}

.header-a {
background-color: #1A3E3E;
color: #FDFDFD;
border: 1px #1A3E3E solid; 
padding: 12px 24px;
border-radius: 4px
}

body {
font-family: Nunito Sans;
font-style: Bold;
font-size: 16px;
line-height: 150%;
letter-spacing: 0px;
color:

 

#FDFDFD;
}

img {
height: 72px;
}

.header_wrapper {
width: 1180px;
margin: 0 auto;
}

.header-a {
background-color: #1A3E3E;
color: #FDFDFD; 
border: 1px #1A3E3E solid;
padding: 12px 24px;
border-radius: 4px;
transition: background-color 0.5s;
font-family: Nunito Sans;
font-weight: 600;
font-style: SemiBold;
font-size: 16px;
line-height: 20px;
letter-spacing: 1.2%;
}

.header-h2 {
font-size: 40px;
line-height: 150%;
letter-spacing: 2%;
margin-bottom: 41px;
animation: h2-anim 3s linear 0s infinite;
text-align: center;
}

.header-form {
background-color: #00000079;
padding: 40px;
border-radius: 10px;
display: flex;
justify-content: space-between;
align-items: flex-start;
flex-wrap: wrap;
backdrop-filter: blur(6px); 

}

.header-input-label {
display: flex;
flex-direction: column;
width: 270px;
}

input {
background: none;
border: 1px white solid;
border-radius: 8px;
padding: 14px 16px;
color: white;
}

input::placeholder {
color: white;
font-family: Nunito Sans;
font-weight: 700;
font-style: Bold;
font-size: 16px;
line-height: 150%;
}

.header-button {
font-family: Nunito Sans;
font-weight: 700;
font-style: Bold;
font-size: 16px;
line-height: 20px;
letter-spacing: 1.2%;
border-radius: 4px;
border: none;
padding: 13px 36px;
transition: background-color 0.5s;
}

.header-ul-item:hover {
color: #F2BE22;
border-bottom: 2px #F2BE22 solid;
cursor: pointer;
}

.header-ul-item {
transition: all 0.5s;
backdrop-filter: blur(8px); 
background-color: #00000061;
padding: 3px 5px;
border-radius: 5px;
}

.header-a:hover {
color:#1A3E3E;
background-color: white;
}

.header-button:hover {
color:white;
background-color: black;
}

input:hover {
background-color: #ffffff25;
}

input:focus {
background-color: rgba(255, 255, 255, 0.346);
outline: none;
}

@keyframes h2-anim {
0%, 100% {
text-shadow: 2px 0px 20px rgb(0, 0, 0);
}
25% {
text-shadow: 2px -10px 20px rgb(0, 0, 0);

}
50% {
text-shadow: 2px 0px 20px rgb(0, 0, 0);
}
75% {
text-shadow: 2px 10px 20px rgb(0, 0, 0);
}
}

.tour {
min-height: 898px;
background-color: #b3bfc5;
text-align: center;
}

.photo-item {
width: 280px;
height: 400px;
box-shadow: 2px 2px 6px #000000a1;
border-radius: 32px;
background-repeat: no-repeat;
background-position: center;
background-size: cover;
overflow: hidden;
}

.photo {
display: flex;
gap: 20px;
justify-content: center;
margin-bottom: 50px;
margin-top: 50px;
}

.tour_wrapper {
width: 1180px;
margin: 0 auto;
}

.lake {
background-image: url("https://media.istockphoto.com/id/1191642092/ru/векторная/вратарь-футболист-стоял-с-руками-на-бедрах-изолированный-вектор-силуэт-чернила-рисунок.jpg?s=612x612&w=0&k=20&c=g3nnbAt9PHrlQk6Y_xHJ23IiWgzKQ5Q9gZxL0RnNIf4=");
}

.sunshine {
background-image: url('https://media.istockphoto.com/id/92026198/ru/фото/leaping-с-фрисби-пляж-силуэт.jpg?s=612x612&w=0&k=20&c=RVlmySUQyGNn9BShLxCmPA04sFGMzuPG4-F0d4geFno=');
}

.mountine {
background-image: url('https://avatars.mds.yandex.net/i?id=998d04e2c7f52a6cbb0c91e0fb7dc204_l-4499935-images-thumbs&n=13');
}

.tour-h5 {
font-style: Regular;
font-size: 24px;
line-height: 20px;
letter-spacing: 0%;
color: #F2BE22;
padding-top: 80px;

}

.tour-h3 {
font-weight: 800;
font-style: ExtraBold;
font-size: 32px;
line-height: 120%;
color: black;

}

.blind {
backdrop-filter: blur(7px);
background-color: #FFFFFF33;
height: 400px;
border-radius: 24PX;
padding-top: 20px;
margin-top: 350px;
transition: margin-top 1s ease;
}

.photo-item {
width: 280px;
height: 400px;
box-shadow: 2px 2px 6px #000000a1;

 

 

border-radius: 32px;
background-repeat: no-repeat;
background-position: center;
background-size: cover;
overflow: hidden;
}

.blind:hover {
margin-top: 0px;
}

.card-h6 {
font-size: 18px;
color:rgb(0, 0, 0)
}

.price {
padding: 8px 18px;
background-color: #FFFFFF4D;
border-radius: 4px;
color: black;
}

.card-title {
display: flex;
justify-content: space-evenly;
align-items: center;
padding-bottom: 20px;
}

.card-p {
font-size: 16px ;
padding: 0 20px;
text-align: left;
color: black;
}

a {
color: #E1E3E4;
cursor: pointer;
}

.contact-wrapper {
max-width: 900PX;
margin: 0 auto;
display: flex;
flex-direction: column;
gap: 25px;
}

.contact {
background-color: #1A3E3E;
padding: 70px 0;
}

.fio {
font-size: 20px;
}

.link-social {
display: flex;
gap: 18px;
}

.link-social>a {
background-size: cover;
background-position: center;
background-repeat: no-repeat;
width: 30px;
height: 30px;
}

.max {
background-image: url('https://static.vecteezy.com/system/resources/previews/069/991/653/large_2x/max-app-icon-on-a-transparent-background-free-png.png');
}
.vk {
background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/f/f3/VK_Compact_Logo_%282021-present%29.svg/500px-VK_Compact_Logo_%282021-present%29.svg.png');
}

.footer {
background-color: #18121E;
}

.footer-wrapper {
max-width: 900px; 
margin: 0 auto;
padding: 30px 0;
display: flex; 
justify-content: space-between;
}


body {
font-family: Nunito Sans;
font-style: Bold;
font-size: 16px;
line-height: 150%;
letter-spacing: 0px;
color: #102303;
}

.header_wrapper {
max-width: 1180px; 
margin: 0 auto;
}

.header-top {
display: flex;
justify-content: space-between; 
margin-bottom: 463px; 
align-items: center;
}
.nav {
display: flex;
gap: 49px;
align-items: center;
}

.header-ul {
display: flex;
gap: 24px;
align-items: center;
}




body {
font-family: Nunito Sans;
font-style: Bold;
font-size: 16px;
line-height: 150%;
letter-spacing: 0px;
color: #FDFDFD;
}

img {
height: 72px;
}

.header_wrapper {
width: 1180px;
margin: 0 auto;
}

.header-a {
background-color: #1A3E3E;
color: #FDFDFD; 
border: 1px #1A3E3E solid;
padding: 12px 24px;
border-radius: 4px;
transition: background-color 0.5s;
font-family: Nunito Sans;
font-weight: 600;
font-style: SemiBold;
font-size: 16px;
line-height: 20px;
letter-spacing: 1.2%;
}

.header-h2 {
font-size: 40px;
line-height: 150%;
letter-spacing: 2%;
margin-bottom: 41px;
animation: h2-anim 3s linear 0s infinite;
text-align: center;
}

.header-form {
background-color: #00000079;
padding: 40px;
border-radius: 10px;
display: flex;
justify-content: space-between;
align-items: flex-start;
flex-wrap: wrap;
backdrop-filter: blur(6px); 

}

.header-input-label {
display: flex;
flex-direction: column;
width: 270px;
}

input {
background: none;
border: 1px white solid;
border-radius: 8px;
padding: 14px 16px;
color: white;
}

input::placeholder {
color: white;
font-family: Nunito Sans;
font-weight: 700;
font-style: Bold;
font-size: 16px;
line-height: 150%;
}

.header-button {
font-family: Nunito Sans;
font-weight: 700;
font-style: Bold;
font-size: 16px;
line-height: 20px;
letter-spacing: 1.2%;
border-radius: 4px;
border: none;
padding: 13px 36px;
transition: background-color 0.5s;
}

.header-ul-item:hover {
color: #F2BE22;
border-bottom: 2px #F2BE22 solid;
cursor: pointer;
}

.header-ul-item {
transition: all 0.5s;
}

.header-a:hover {
color:#1A3E3E;
background-color: white;
}

.header-button:hover {
color:white;
background-color: black;
}

input:hover {
background-color: #ffffff25;
}

input:focus {
background-color: rgba(255, 255, 255, 0.346);
outline: none;
}

@keyframes h2-anim {
0%, 100% {
text-shadow: 2px 0px 20px rgb(0, 0, 0);
}
25% {
text-shadow: 2px -10px 20px rgb(0, 0, 0);

}
50% {
text-shadow: 2px 0px 20px rgb(0, 0, 0);
}
75% {
text-shadow: 2px 10px 20px rgb(0, 0, 0);
}
}

.tour {
min-height: 898px;
background-color: #b3bfc5;
text-align: center;
}

.photo-item {
width: 280px;
height: 400px;
box-shadow: 2px 2px 6px #000000a1;
border-radius: 32px;
background-repeat: no-repeat;
background-position: center;
background-size: cover;
overflow: hidden;
}

.photo {
display: flex;
gap: 20px;
justify-content: center;
margin-bottom: 50px;
margin-top: 50px;
}

.tour_wrapper {
width: 1180px;
margin: 0 auto;
}

.lake {
background-image: url("https://media.istockphoto.com/id/1191642092/ru/векторная/вратарь-футболист-стоял-с-руками-на-бедрах-изолированный-вектор-силуэт-чернила-рисунок.jpg?s=612x612&w=0&k=20&c=g3nnbAt9PHrlQk6Y_xHJ23IiWgzKQ5Q9gZxL0RnNIf4=");
}

.sunshine {
background-image: url('https://media.istockphoto.com/id/92026198/ru/фото/leaping-с-фрисби-пляж-силуэт.jpg?s=612x612&w=0&k=20&c=RVlmySUQyGNn9BShLxCmPA04sFGMzuPG4-F0d4geFno=');
}

.mountine {
background-image: url('https://avatars.mds.yandex.net/i?id=998d04e2c7f52a6cbb0c91e0fb7dc204_l-4499935-images-thumbs&n=13');
}

.tour-h5 {
font-style: Regular;
font-size: 24px;
line-height: 20px;
letter-spacing: 0%;
color: #F2BE22;
padding-top: 80px;

}

.tour-h3 {
font-weight: 800;
font-style: ExtraBold;
font-size: 32px;
line-height: 120%;
color: black;

}

.blind {
backdrop-filter: blur(7px);
background-color: #FFFFFF33;
height: 400px;
border-radius: 24PX;
padding-top: 20px;
margin-top: 350px;
transition: margin-top 1s ease;
}

.photo-item {
width: 280px;
height: 400px;
box-shadow: 2px 2px 6px #000000a1;
border-radius: 32px;
background-repeat: no-repeat;
background-position: center;
background-size: cover;
overflow: hidden;
}

.blind:hover {
margin-top: 0px;
}

.card-h6 {
font-size: 18px;
color:rgb(0, 0, 0)
}

.price {
padding: 8px 18px;
background-color: #FFFFFF4D;
border-radius: 4px;
color: black;
}

.card-title {
display: flex;
justify-content: space-evenly;
align-items: center;
padding-bottom: 20px;
}

.card-p {
font-size: 16px ;
padding: 0 20px;
text-align: left;
color: black;
}

a {
color: #E1E3E4;
cursor: pointer;
}

.contact-wrapper {
max-width: 900PX;
margin: 0 auto;
display: flex;
flex-direction: column;
gap: 25px;
}

.contact {
background-color: #1A3E3E;
padding: 70px 0;
}

.fio {
font-size: 20px;
}

.link-social {
display: flex;
gap: 18px;
}

.link-social>a {
background-size: cover;
background-position: center;
background-repeat: no-repeat;
width: 30px;
height: 30px;
}

.max {
background-image: url('https://static.vecteezy.com/system/resources/previews/069/991/653/large_2x/max-app-icon-on-a-transparent-background-free-png.png');
}
.vk {
background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/f/f3/VK_Compact_Logo_%282021-present%29.svg/500px-VK_Compact_Logo_%282021-present%29.svg.png');
}

.footer {
background-color: #18121E;
}

.footer-wrapper {
max-width: 900px; 
margin: 0 auto;
padding: 30px 0;
display: flex; 
justify-content: space-between;
}
