img{
    height: 80px;
}
*{
    list-style: none;
    text-decoration: none;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Amatic SC";
}
header{
    background-image: url('images/titov-header.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 16px;
    padding-bottom: 82px;
}
.header-wrapper{
    max-width: 1180px;
    margin: 0 auto;
}
.header-top{
    margin-bottom: 450px;
    display: flex;
    justify-content: space-between;
}
.nav{
    display: flex;
    gap: 33px;
    margin: 20px;
    color: antiquewhite;
    font-size: 20px;

}
.ul{
    display: flex;
    gap: 24px;
    align-items: center;
}
a{
    background-color: aqua;
    padding: 12px 24px;
    border-radius: 10px;
    color: black;
    transition: all 0.7s ease 0.2s;
    
}
a:hover{
    transform: scale(1.2);
    background-color: antiquewhite;
    color: aqua;
}
h1{
    font-weight: 50pxpx;
    font-size: 80px;
    margin: 60px;
    color: antiquewhite;
    display: flex;
    justify-content: center;
    animation: h1-anim 5s linear infinite;
}
h3{
    font-weight: 20px;
    font-size: 50px;
    color: antiquewhite;
    display: flex;
    justify-content: center;
}
.header-form{
    padding: 40px 20px;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    background-color: azure;
    opacity: 70%;
}
.header-input-label{
    display: flex;
    flex-direction: column;
    font-size: 20px;
}
input{
    background: none;
    border: 1px aqua solid;
    border-radius: 20px;
    padding: 14px 16px;
    color: beige;
    transition: all 0.5s ease 0.2s;

}
input::placeholder{
    color: black;
    font-size: 24px;

}
button{
    color: black;
    background-color: aqua;
    padding: 15px 32px;
    border-radius: 20px;
    font-size: 40px;
    transition: all 0.7s ease 0.2s;
}
button:hover{
    transform: scale(1.2);
    background-color: antiquewhite;
    color: aqua;
}
.black{
    color: black;
}
li{
    font-size: 20px;
}
.header-ul-item:hover{
    border-bottom: 2px;
    cursor: pointer;
    transform: rotate(45deg);
}
.header-ul-item{
    transition: all 0.7s ease 0.2s;
}
input:hover{
    background-color: rgba(255, 255, 255, 0.452);
}
input:focus{
    background-color: rgba(255, 255, 255, 0.5);
    outline: none;
}
@keyframes h1-anim{
    0%, 100%{
        text-shadow: 2px 15px 15px white;
    }
    20%{
        text-shadow: 2px 5px 15px white;
    }
    40%{
        text-shadow: 2px -10px 15px white;
    }
    60%{
        text-shadow: 2px -6px 15px white;
    }
    80%{
        text-shadow: 2px 5px 15px white;
    }
}
.naprav{
    min-height: 898px;
    background-color: aqua
}
.photo-item{
    width: 380px;
    height: 400px;
    box-shadow: 2px 3px 4px black;
    border-radius: 20px;
    text-align: center;
    overflow: hidden;
}
.photo{
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-bottom: 50px;
    margin-top: 50px;
}
.naprav-section{
    width: 1080px;
    margin: 0 auto;
    text-align: center;
    text-shadow: 2px 3px 4px black;
}
.first{
    background-image: url('https://i.pinimg.com/736x/11/f1/57/11f15761128159b64663f3d973098511.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.second{
    background-image: url('https://i.pinimg.com/736x/7b/88/c8/7b88c8f70c5725707bffdb02245dabbb.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.tree{
    background-image: url('https://i.pinimg.com/736x/8b/3f/8a/8b3f8a2af334c0c4b5fd10290b0bfb9b.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
h2{
    font-size: 80px;
    color: antiquewhite;
}
h4{
    font-size: 60px;
    color: antiquewhite;
}
.header-a{
    text-align: center;
    font-size: 30px;
}
.blind{
    backdrop-filter: blur(6px);
    background: rgba(255, 255, 255, 0.199);
    border-radius: 20px;
    height: 400px;




margin-top: 320px;
    transition: margin-top, 1s 0.3s ease;
}
.card-title{
    padding: 23px 0px;
    align-items: center;
    display: flex;
    justify-content: space-evenly

}
.price{
    background-color: rgba(240, 255, 255, 0.747);
    padding: 8px 16px;
    border-radius: 14px;
    font-size: 26px;
}
.card-p{
    padding: 0px 20px;
    font-size: 18px;
    text-align: center;
    font-size: 25px;
}
.h55{
    font-size: 35px;
}
.blind:hover{
    margin-top: 0px;
}
.contact{
    padding: 70px 0px;
}
.contact-wrap{
    max-width: 900px;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.hh5{
    font-size: 25px;
}
.link{
    display: flex;
    gap: 18px;
}
.link>a{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    padding: 0;
    border-radius: 0px;
    background-color: rgba(255, 255, 255, 0);
}
.vk {
background-image:
url('https://upload.wikimedia.org/wikipedia/commons/thumb/f/f3/VK_Compact_Logo_%282021-present%29.svg/500px-VK_Compact_Logo_%282021-present%29.svg.png');
}
.te{
background-image:
url("https://static.vecteezy.com/system/resources/previews/023/741/064/large_2x/telegram-logo-icon-social-media-icon-free-png.png");
}
.pi{
background-image:
url("https://i.pinimg.com/originals/66/a7/b3/66a7b3ecc4273e7c40fe2bc6ac98c5d1.png");
}
.footer-wrap{
    background-color: aqua;
    max-width: 100%;
    padding: 30px 0;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.gggggggg{
    font-size: 40px;
}
.mail {
    font-size: 26px;
}